body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #555750;
}
.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}
.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.social-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.social-button.linkedin {
    background-color: #0077b5;
}
.social-button.github {
    background-color: #333;
}
.social-button.twitter {
    background-color: #657786;
}